{% extends 'otherpages.html.twig' %}

{% block title %}Mes produits sont paginés!{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class = "text-center">Recherche produits</h2>
            <a href="{{ path('search') }}" class="btn bg-perso2 loupe text-white"
            ><i class="fas fa-search"></i
                ></a>
            <a href="{{ path('paginate_product', {'currentPage': 1, 'nbResults': 2}) }}">Afficher 2 produits par pages</a>
            <a href="{{ path('paginate_product', {'currentPage': 1, 'nbResults': 4}) }}">Afficher 4 produits par pages</a>
            
        </div>

        <div class="row mt-5 d-flex justify-content-center">

    {% for product in products %}
        <div class="card mx-auto" style="width: 15rem;">
            <img class="card-img-top" src="{{ asset('images/uploads/products/' ~ product.picture)}}" style ="width: 250px;height: 250px" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-title">{{ product.price }}</h6>
                <p class="card-text">{{ product.description|u.truncate(50, '...') }}</p>
                <a href="{{ path('detail_product', {'id':product.id })}}" class="btn btn-primary">En savoir plus sur ton cul</a>
                <a href="{{ path('panier_add', {'id':product.id })}}" class="btn btn-success mt-3">Ajouter au paniasse</a>
            </div>
        </div>
        </div>

    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination mt-3">
            {% if currentPage != 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('paginate_product', {'currentPage': currentPage-1, 'nbResults': nbResults}) }}">Previous</a></li>
            {% endif %}

            {% for nbPage in 1..nbPages  %}
            <li class="page-item {% if nbPage ==currentPage %}active{% endif %}"><a class="page-link" href="{{ path('paginate_product', {'currentPage': nbPage, 'nbResults': nbResults}) }}">{{ nbPage }}</a></li>
            {% endfor %}
            {% if currentPage != nbPages %}
            <li class="page-item"><a class="page-link" href="{{ path('paginate_product', {'currentPage': currentPage+1, 'nbResults': nbResults}) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
{% endblock %}
