{% extends 'otherpages.html.twig' %}


{% block body %}
  <!DOCTYPE html>
  <html lang="fr">


  {{ include('parts/head.html.twig') }}


  <body class="customscrollbar">


  {{ include('navbar/header.html.twig') }}

  <main>

    <section>
      <!--ICI Ma Boutique-->

      <div class="container-fluid shadow-lg rounded" data-aos="fade-right">

        <div class="row">
          <div class="col-lg-3 col-md-3 ">
            <h2 class="vertical-title text-center mt-3">{{ category.name }}</h2>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true"
                          aria-controls="collapseOne">
                    Marques
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>

                      <li class="accordeon-marques">Royal Canin</li>
                      <li class="accordeon-marques">Purina</li>
                      <li class="accordeon-marques">Friskies</li>
                      <li class="accordeon-marques">Sheba</li>
                      <li class="accordeon-marques">Pedigree</li>
                      <li class="accordeon-marques">Petsafe</li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                    Prix
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <article class="filter-group">
                      <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3"
                           aria-expanded="true" class="">
                          </i>
                          <h6 class="title">Prix </h6>
                        </a>
                      </header>
                      <div class="filter-content collapse show" id="collapse_3">
                        <div class="card-body">
                          <input type="range" class="custom-range" min="0" max="100" name="">
                          <div class="form-row">

                          </div> <!-- form-row.// -->
                          <button
                                  class="btn btn-primary btn pink mx-auto d-flex accordbouton">
                            Appliquer
                          </button>
                        </div><!-- card-body.// -->
                      </div>
                    </article> <!-- filter-group .// -->
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-9 col-md-9">
            <div class="row">

              {% for product in products %}
                {% if product.idCategory.id is same as category.id %}
                <div class="col-lg-3 col-md-6 my-3">
                  <div>
                    <a href="{{ path('detail_product', {'id':product.id })}}" class="zoom">
                      <img src="{{ asset('images/uploads/products/' ~ product.picture)}}" alt="img_product"
                           class="img-fluid rounded mx-auto d-flex categorie">
                    </a>
                    <h5 class="text-center fw-bold my-3">{{ product.name }}</h5>
                    <p class="text-center">{{ (product.price* 1.2)|round(2,'ceil') }}</p>
                    <a href="{{ path('panier_add', {'id':product.id })}}">
                      <button type="button" class="btn btn-primary btn pink mx-auto d-flex">Ajouter au
                        panier
                      </button>
                    </a>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>

      </div>
      </div>

    </section>

  </main>


  {{ include('parts/footer.html.twig') }}

  </body>

  </html>

{% endblock %}